@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@layer base {
    html,
    body,
    #app {
        min-height: 100vh;
        background: linear-gradient(135deg, #b0e9f6, #63a3d8);
    }

    body {
        font-family: "Montserrat", "Roboto", sans-serif;
        color: #03112e;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Kitchakan", "Roboto", sans-serif;
        color: #0d365f;
    }
}
